/* Basic styles */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background: hsla(218, 22%, 67%, 0.3);
  margin: 0;
  padding: 0;
}

/* Button styles */

button {
  font-family: 'Karla', sans-serif;
}

/* Attribution */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }