/* Basic styles */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background: hsl(204, 43%, 93%);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p,
li {
  font-size: 16px;
  line-height: 1.6;
  color: hsla(0, 0%, 100%, 0.75);
}

/* Container styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px;
}

/* Card styles */
.card {
  padding: 10px 25px 20px;
  width: 350px;
}

.card-1 {
  background: white;
  border-radius: 5px 5px 0 0;
}

.card-1 h2 {
  color: hsl(179, 62%, 43%);
}

.card-1 h3 {
  color: hsl(71, 73%, 54%);
}

.card-1 p {
  color: hsl(218, 22%, 67%);
}

.card-2 {
  background: hsl(179, 62%, 43%);
}

.card-2 h2,
.card-3 h2 {
  color: white;
}

.card-2 span {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.card-3 {
  background: hsla(179, 62%, 43%, 0.7);
  border-radius: 0 0 5px 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 990px) {
  .container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px 300px;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
  }

  .card-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    width: 800px;
    height: 200px;
  }

  .card-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 400px;
    height: 300px;
    border-radius: 0 0 0 5px;
    padding: 20px;
  }

  .card-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 400px;
    height: 300px;
    border-radius: 0 0 5px 0;
    padding: 20px;
  }
}

/* Button styles */

button {
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background: hsl(71, 73%, 54%);
  padding: 12px 15px;
  border: 1px solid hsl(71, 73%, 54%);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: all .7s ease-in-out;
}

button:hover {
  background: hsl(179, 62%, 43%);
}

/* Attribution */

.attribution { 
  font-size: 11px;
  text-align: center;
  color: hsl(179, 62%, 43%); 
}
.attribution a { 
  color: hsl(71, 73%, 54%); 
}